@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/_variables.scss";

@font-face {
  font-family: Avenir\ Next,sans-serif;
  src: url("/static/fonts/avenir-next-regular.ttf");
}

html,
body,
div,
ul,
ol {
  margin: 0;
  padding: 0;
}
html {
	font-family: Avenir\ Next,sans-serif;
	overflow: auto;

}
h1, h2, h5, p {
	font-family: Avenir\ Next,sans-serif;
}
h1, h2, h5 {
	font-weight: bold;
	letter-spacing: 1.2px;
}
.row {
	margin-right: 0;
}
.footnote {
	font-family: Avenir\ Next,sans-serif;
	font-family: Avenir\ Next,sans-serif;
	font-size: 9px!important;
	line-height: .8rem;
	font-weight: lighter;
	margin: 10px 0 40px!important;
}
.wrapper {
	max-width: 100%;
}
/******************* section_1 **********************/
.section_1 {
	background: url(/static/img/logo-circle.png) center top no-repeat;
	background-size: cover;
	min-height: 577px;
	.container-fluid {
		height: 300px;	
		padding-top: 65px;
		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			height: 100%;
			h1 {
				font-size: 32px;
			}
			p {
				font-size: 18px;
			}
			img {
				width: 10em;
			} 
		}	
	}
}
/******************* section_2 **********************/
.section_2 {
	background: url(/static/img/img_minotaur.png) right bottom no-repeat;
	background-size: contain;
	padding-bottom: 64%;
	h2 {
		font-size: 30px;
		text-transform: uppercase;
	}
	p {
		font-size: 12px;
		margin: 0;
	}
	img {
		width: 52%;
	}
	.task {
		background: url(/static/img/img_knight.png)left bottom no-repeat;
    	background-size: 12em;
    	.description {
    		margin: 20px 0 40px;
    		p {
    			font-size: 14px;
    		}   
    	}
    	h2 {
    		margin-top: 40px;
    	}
	}
	.data {
		margin-top: 60px;
		background: url(/static/img/img_thinker.png)right top no-repeat;
		background-size: 87%;
	}
	.resources {
		margin-top: 60px;
		background: url(/static/img/img_mermaid.png)left center no-repeat;
		background-size: 100%;
	}
	.resolvation {
		margin-top: 60px;
		p {
			margin-bottom: 1rem;
		}
	}
}
/******************* section_3 **********************/
.section_3 {
	background: url(/static/img/img_horses.png) left bottom no-repeat;
	background-size: 80%;
	padding-bottom: 85%;
  h2 {
		font-size: 50px;
		text-transform: uppercase;
		text-align: left;	
	}
	h5 {
		margin-top: 40px;
		font-size: 14px;
	}
	p {
		font-size: 14px;
		margin-bottom: 5px;
	}
	.footnote {
		font-size: 9px!important;
		line-height: .8rem;
		font-weight: lighter;
		margin: 10px 0 0!important;
	}
	.result {
		margin-top: 80px;
		h2 {
			letter-spacing: 1px;
		}
	}
	.total {
		margin-top: 60px;
		.row {
			margin-top: 40px;
		}
	}
	.budget {
		margin-top: 80px;
		.contact {
			cursor: pointer;
			display: block;
			margin: 20px 0 0;
			background: #ff5400;
			width: 100%;
			padding: 20px 0;
			border-radius: 76px;
			text-transform: uppercase;
			box-shadow:0px 2px 0px 0px rgba(87, 29, 0, 0.86);
			text-align: center;
			font-size:19px;		
		}
	}
}
@media screen and (min-width: 576px) {
	/******************* section_1 **********************/

	.section_1 {
		min-height: 977px;
		.container-fluid {
			height: 510px;
   		padding-top: 105px;
   		.wrapper {
				h1 {
					font-size: 62px;
				}
				p {
					font-size: 38px;
				}
				img {
					width: 20em;
				}	
			}
		}
	}
	/******************* section_2 **********************/
	.section_2 {
		background-size: 125%;
		padding-bottom: 82%;
		h2 {
			font-size: 57px;
		}
		p {
			font-size: 24px;
		}
		.task {
	    	background-size: 20em;
	    	.description {
	    		margin: 60px 0 120px;
	    		p {
	    			font-size: 28px;
	    		}   
	    	}
		}
		.data {
			margin-top: 120px;
		}
		.resources {
			margin-top: 120px;
		}
		.resolvation {
			margin-top: 120px;
			p {
				margin-bottom: 1.2rem;
			}
		}
	}
	/******************* section_3 **********************/
	.section_3 {
		padding-bottom: 85%;
		h2 {
			font-size: 80px;
		}
		h5 {
			margin-top: 60px;
		  font-size: 24px;
		}
		p {
			font-size: 24px;
		}
		.total {
			p {
				margin: 10px 0;
			}
		}
		.budget {
			.contact {
				padding: 30px 0;
				font-size: 38px;
				width: 85%;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	/******************* section_1 **********************/
	.section_1 {
		min-height: 1002px;
		.container-fluid {
			height: 530px;
   		padding-top: 100px;
   		.wrapper {
				h1 {
					font-size: 84px;
				}
				p {
					font-size: 40px;
				}
				img {
					width: 20em;
				}	
			}
		}
	}
	/******************* section_2 **********************/
	.section_2 {
		h2 {
			font-size: 57px;
		}
		p {
			font-size: 24px;
		}
		.task {
			background-size: 26em;  
		}
		.data {
			background-size: 66%;
		}
		.resources {
			background-size: 60%;
			height: 400px;
			.col-6 {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
	}
	/******************* section_3 **********************/
	.section_3 {
		h2 {
			font-size: 80px;
		}
	}
}
@media screen and (min-width: 992px) {
	/******************* section_1 **********************/
	.section_1 {
		background-size: contain;
		height: 1002px;
		.container-fluid {
			padding-top: 95px;
			.wrapper {
				h1 {
					font-size: 118px;
				}
			}
		}
	}
	/******************* section_2 **********************/
	.section_2 {
		background-size: 124%;
		h2 {
			font-size: 50px;
			margin-bottom: 60px;
		}
		p {
			font-size: 24px;
		}
		img {
			width: 52%;
		}
		.task {
	    background-size: 59%;
			height: 880px;
			margin-top: 60px;
			.description {
				margin: 140px 0 110px 50%; 
			}
			h2 {
				margin-top: 40px;
			}
		}
		.data {
			margin-top: 200px;
			background: url(/static/img/img_thinker.png)right bottom no-repeat;
			background-size: 87%;
			height: 800px;
			.col-7 {
				margin-top: 15%;
			}
		}
		.resources {
			margin-top: 140px;
			background-size: 100%;
			height: 700px;
			.col-6 {
				margin-top: 18%;
			}
		}
		.resolvation {
			margin-top: 200px;
			h2{
				margin-bottom: 60px;
			}
			p {
				margin-bottom: 1.6rem;
			}
		}
	}
	/******************* section_3 **********************/
	.section_3 {
		background-size: 52%;
    padding-bottom: 15%;
		h2 {
			font-size: 48px;
		}
		h5 {
			margin-top: 0;
		}
		.screen {
			/*margin-top: 24px;*/
		}
		.result_ppc, .result_seo, .result_seoAndPpc, .result_3groups, .result_1group, .reference_mass {
			margin-top: 70px;
		}
		.total {
			.flex-lg-row-reverse {
				margin-top: 60px;
				p {
					margin: 0 0 20px;
				}
			}
		}
		.budget {
			margin-top: 120px;
			h2 {
				text-align: right;
			}
			.contact {
				width: 65%;
				padding: 30px 0;
				margin: 150px 0 0 35%;
				text-align: center;
				font-size:19px;		
			}
		}
	}
}
@media screen and (min-width: 1200px) {
	.wrapper {
		max-width: 1320px;
		margin: 0 auto;
	}
	/******************* section_1 **********************/
	.section_1 {
		.container-fluid {	
			padding-top: 65px;
			.wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				h1 {
					font-size: 150px;
				}
				p {
					font-size: 48px;
				}
				img {
					width: 18em;
				} 
			}	
		}
	}
	/******************* section_2 **********************/
	.section_2 {
		background: url(/static/img/img_minotaur.png) right bottom no-repeat;
		background-size: 70%;
		padding-bottom: 0;
		h2 {
			font-size: 48px;
		}
		p {
			font-size: 24px;
			margin: 0;
		}
		img {
			width: 52%;
		}
		.task {
	    background-size: contain;
	    height: auto;
	    margin-top: 0;
			.description {
				margin: 280px 0 0 50%;
				p {
					font-size: 24px;
				}   
			}
			h2 {
				margin-top: 180px;
			}

		}
		.data {
			margin-top: 180px;
			background-size: contain;
    	height: 950px;
		}
		.resources {
			margin-top: 0;
			background: url(/static/img/img_mermaid.png)left bottom no-repeat, url(/static/img/decor_1.png)right 73% no-repeat;
			background-size: contain, 9%;
			height: 950px;
			.col-6 {
				margin-top: 25%;
			}
		}
		.resolvation {
			margin-top: 180px;
			background: url(/static/img/decor_2.png)46% 0% no-repeat;
			background-size: 13%;
			p {
				margin-bottom: 3rem;
			}
		}
	}
	/******************* section_3 **********************/
	.section_3 {
		background: url(/static/img/img_horses.png) left bottom no-repeat, url(/static/img/decor_1.png)right 98% no-repeat;
		background-size: 45%, 9%;
    padding-bottom: 15%;
	  h2 {
			font-size: 48px;
			text-align: left;	
		}
		h5 {
			font-weight: bolder;
			font-size: 24px;
		}
		p {
			font-size: 24px;
			margin-bottom: 5px;
		}
		.footnote {
			font-size: 9px!important;
			line-height: .8rem;
			font-weight: lighter;
			margin: 10px 0 0!important;
		}
		.result {
			margin-top: 90px;
		}
		.total {
			margin-top: 90px;
			.row {
				margin-top: 70px;
			}
		}
		.budget {
			padding-top: 240px;
			margin: 0;
			background: url(/static/img/decor_3.png)60% 16% no-repeat;
			background-size: 6%;
		}
	}
}








